<p id="notice"><%= notice %></p>

<p>
  <b>Gig:</b>
  <%= @task.gig_id %>
</p>

<p>
  <b>Descritpion:</b>
  <%= @task.descritpion %>
</p>

<p>
  <b>Done:</b>
  <%= @task.done %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
