<%= form_for(@user) do |f| %>

<p id="notice"><%= notice %></p>

<div id="cover" style="background-image: url('<%=@user.coverphoto %>'); height:500px;">

  
  <div id="header_text">
    <div class="post-titles" style="position: relative;top: -30px;">

            <h1  style="z-index: 1;" ><%= f.text_field :name , :class => "edit_name" %></h1>
            <h2  style="z-index: 1;position: relative;top: -50px;">violinist</h2>

        </div>
  </div>
</div>

<div id="circle_thing" style="background-image: url('<%=@user.userphoto %>');"></div>
<div class="clearfix"></div>

<div class="content">
  
  
  <div class="row">
    <div class="large-6 columns">
      <p>
        <h2 class="abouttimes">ABOUT</h2>
        <p class="about_text "><%= f.text_area :about, :class => "edit_about" %></p>
      </p>
    </div>
    <div class="large-6 columns">
      <h2 class="abouttimes">SONGS</h2>
        <%= f.file_field :songOne %>
    </div>
  </div>
</div>

<%= f.submit :class => "submit_button" %>

<%end%>