


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form fadeInUp animated">
  
  <div class="row">
    <p class="label">
      FIRST & LAST NAME
    </p>
    <div class="large-6 columns">
      <div class="field">

        <%= f.text_field :fname, :class => "inputstuff", :placeholder =>"Kaitlyn" %>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="field">

        <%= f.text_field :lname, :class => "inputstuff", :placeholder =>"Hova"  %>
      </div>
    </div>
  </div>
  <div class="field">
   <%= f.file_field :userphoto %>
  </div>
  <div class="field">
   <%= f.file_field :coverphoto %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, :class => "inputstuff" , :placeholder =>"username"%>
  </div>
  <div class="field" style="margin-top: 15px;">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "inputstuff" , :placeholder =>"hey@email.com"%>
  </div>
  <div class="field" style="margin-top: 15px;">
    <%= f.label :password %><br />
    <%= f.text_field :password, :class => "inputstuff", :placeholder =>"password" %>
  </div>
  <div class="field" style="margin-top: 15px;">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation, :class => "inputstuff", :placeholder =>"password again" %>
  </div>
  
  <p>Main instruments?</p>
  

  
  
  <div class="row">
    <ul>
        <% @instruments.each do |instrument| %>
          <div class="small-6 large-6 columns rounded">
             <li><input type="checkbox" id="user_instruments" name="user[st_ids][]" value="<%=instrument.id%>">
                <label>
                  <%= instrument.name %>
                </label>
              </li>
          </div>

       <% end %>
    </ul>
  </div>





  <div class="actions" style="margin-top: 40px;">
    <%= f.submit "JOIN & START GIGGING", :class => "form_button" %>
  </div>
</div>
<% end %>

<p class="legal">By joining HovaBook, you agree to our <a target="_blank" href="http://www.apple.com/legal/internet-services/itunes/us/terms.html">User Agreement</a></p>
