<p id="notice"><%= notice %></p>

<div id="cover" style="background-image: url('<%=@user.coverphoto %>'); height:500px;">

  
  <div id="header_text">
    <div class="post-titles">

            <h1  style="z-index: 1;"><%= @user.name %></h1>
            <h2  style="z-index: 1;">violinist</h2>

        </div>
  </div>
</div>

<div id="circle_thing" style="background-image: url('<%=@user.userphoto %>');"></div>
<div class="clearfix"></div>

<div class="content">
  
  
  <div class="row">
    <div class="large-6 columns">
      <p>
        <h2 class="abouttimes">ABOUT</h2>
        <p class="about_text"><%= @user.about %></p>
      </p>
    </div>
    <div class="large-6 columns">
      <h2 class="abouttimes">SONGS</h2>
        <audio controls>
          <source src="<%= @user.songOne%>" type="audio/wav">
          Your browser does not support the audio tag.
        </audio>
    </div>
  </div>



  <% link_to 'Edit', edit_user_path(@user) %> |
  <% link_to 'Back', users_path %>
   <% link_to image_tag("/assets/rails.png"), session_path(session[:user_id]), :method => :delete, :class => "logout_button "%>
</div>