<%= form_for(@gig) do |f| %>
  <% if @gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
      <% @gig.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
   <%= f.file_field :image %>
  </div>
  
  <h1>tasks</h1>
  
  <%= form_for @task, :remote => true do |f| %>
    <%= f.check_box 'done', :class => 'submittable' %> 
    <%= f.label :checked %>
    <div class="field">
      <%= f.label :descritpion %><br />
      <%= f.text_area :descritpion %>
    </div>
  <% end %> 
    
  
  <p>Client INFO</p>
  <div class="field">
   <%= f.file_field :clientphoto %>
  </div>
  <div class="field">
    <%= f.label :clientname %><br />
    <%= f.text_field :clientname%>
  </div>
  <div class="field">
    <%= f.label :clientphone%><br />
    <%= f.text_field :clientphone%>
  </div>
  <div class="field">
    <%= f.label :clientemail %><br />
    <%= f.text_field :clientemail%>
  </div>
  
  <h1>SONGS</h1>
  <div class="field">
    <%= f.label :song_selection %><br />
    <%= f.text_area :song_selection %>
  </div>
  

  <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_field :instructions %>
  </div>
  <div class="field">
    <%= f.label :payment %><br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label :payment_schedule %><br />
    <%= f.text_field :payment_schedule %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
