
<div id="map" class="cover"></div> 

<h1 class="gig_header"><%= @gig.title%></h1>

<p class="gig_subheader"><%= @gig.date.strftime("%B %d, %Y") %> | <%= @gig.date.strftime("%I:%M%p")%></p>

<p class="directions_box">
  <a href="https://maps.google.co.uk/maps?t=m&f=d&saddr=Current+Location&daddr=<%= @gig.location%>
">DIRECTIONS</a>
</p>

   <script type="text/javascript">   
        

   var address = '<%= @gig.location%>';

   var myOptions = {
       zoom: 15,
       center: new google.maps.LatLng(53.385873, -1.471471),
       mapTypeId: google.maps.MapTypeId.ROADMAP,
       styles: 
       [
           {
               "featureType": "landscape",
               "stylers": [
                   {
                       "saturation": -100
                   },
                   {
                       "lightness": 65
                   },
                   {
                       "visibility": "on"
                   }
               ]
           },
           {
               "featureType": "poi",
               "stylers": [
                   {
                       "saturation": -100
                   },
                   {
                       "lightness": 51
                   },
                   {
                       "visibility": "simplified"
                   }
               ]
           },
           {
               "featureType": "road.highway",
               "stylers": [
                   {
                       "saturation": -100
                   },
                   {
                       "visibility": "simplified"
                   }
               ]
           },
           {
               "featureType": "road.arterial",
               "stylers": [
                   {
                       "saturation": -100
                   },
                   {
                       "lightness": 30
                   },
                   {
                       "visibility": "on"
                   }
               ]
           },
           {
               "featureType": "road.local",
               "stylers": [
                   {
                       "saturation": -100
                   },
                   {
                       "lightness": 40
                   },
                   {
                       "visibility": "on"
                   }
               ]
           },
           {
               "featureType": "transit",
               "stylers": [
                   {
                       "saturation": -100
                   },
                   {
                       "visibility": "simplified"
                   }
               ]
           },
           {
               "featureType": "administrative.province",
               "stylers": [
                   {
                       "visibility": "off"
                   }
               ]
           },
           {
               "featureType": "water",
               "elementType": "labels",
               "stylers": [
                   {
                       "visibility": "on"
                   },
                   {
                       "lightness": -25
                   },
                   {
                       "saturation": -100
                   }
               ]
           },
           {
               "featureType": "water",
               "elementType": "geometry",
               "stylers": [
                   {
                       "hue": "#ffff00"
                   },
                   {
                       "lightness": -25
                   },
                   {
                       "saturation": -97
                   }
               ]
           }
       ]
   };

   var map = new google.maps.Map(document.getElementById('map'), myOptions);

   var geocoder = new google.maps.Geocoder();

   geocoder.geocode({
      'address': address
   }, 
   function(results, status) {
      if(status == google.maps.GeocoderStatus.OK) {
         new google.maps.Marker({
            position: results[0].geometry.location,
            map: map
         });
         map.setCenter(results[0].geometry.location);
      }
   });

   </script> 
   
